* {
  /*Global CSS*/
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}
.topHeading {
  text-align: center;
  padding-top: 20px;
  color: #282840;
  letter-spacing: 2px;
  font-size: 40px;
}
@media (max-width: 700px) {
  .topHeading {
    font-size: 30px;
  }
}
@media (max-width: 380px) {
  .topHeading {
    font-size: 20px;
  }
}
input,
select,
textarea {
  width: 100%;
  color: #1d1d1d;
  padding: 12px;
  border-radius: 8px;
  border: 2px solid #657285;
  box-sizing: border-box;
  box-shadow: 2px 5px 6px 1px rgba(0, 0, 0, 0.2);
}

input,
select,
textarea:focus {
  outline: none;
}
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.container {
  border-radius: 5px;
  padding: 20px;
  margin: 2% 25% 5%;
  color: #1d1d1d;
}

.fieldlabel {
  margin-top: 5px;
  letter-spacing: 0.5px;
  font-size: 18px;
}

.fieldinput {
  margin-top: 6px;
}

@media (max-width: 1000px) {
  .container {
    margin: 5% 15%;
  }
}
@media (max-width: 700px) {
  .container {
    margin: 30px 5px 20px 5px;
  }
}
/* Button CSS */
.btn {
  background-color: #48c875;
  color: white;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  width: auto;
  margin: 10px;
}
#updateItem:focus,
#addItem:focus {
  outline: #4caf50 1px solid;
}
.cancelbtn {
  background-color: #f14668;
}
.cancelbtn:focus {
  outline: #f14668 1px solid;
}
@media (max-width: 450px) {
  .btn {
    width: 100%;
    margin: 30px 5px 20px 5px;
  }
}
/* Table from here */

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  width: auto;
  table-layout: fixed;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  line-height: 30px;
  color: #1d1d1d;
}

table caption {
  font-size: 25px;
  margin: 8px 0 12px;
}

table tr {
  border: 1px solid #ddd;
}

table th,
table td {
  text-align: left;
  padding: 10px 30px;
}

table th {
  font-size: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

@media (max-width: 740px) {
  table {
    border: 0;
    width: 100%;
    line-height: 20px;
    margin-top: 80px;
  }

  table caption {
    font-size: 20px;
  }

  table thead {
       position: absolute;
    top: -100%;
  }

  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 10px;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 15px;
    text-align: right;
  }

  table td::before {
    letter-spacing: 1px;
    content: attr(data-label);
    float: left;
    font-weight: 600;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }
}
@media (max-width: 1000px) {
  table th,
  table td {
    padding: 10px 20px;
  }
}
/* Modal CSS */
/* Modal background */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 80px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;

  background-color: rgba(0, 0, 0, 0.767);
}

/* Modal content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 30px;
  border: 2px solid #888;
  border-radius: 10px;
  width: 50%;
  height: auto;
  max-height: 80vh;
  overflow-y: auto;
}

/* Close button */
#close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-top: -15px;
  margin-right: -10px;
}

#close:hover,
#close:focus {
  color: rgba(0, 0, 0, 0.438);
  text-decoration: none;
  cursor: pointer;
}
/* Display content inside modal */
.col-1 {
  width: auto;
  float: left;
  padding-top: 15px;
  font-weight: bold;
}
.col-2 {
  margin-left: 40%;
  padding-top: 15px;
  text-align: justify;
}
.col-2 p {
  line-height: 1.5;
}
@media (max-width: 700px) {
  .modal-content {
    width: 85%;
  }
}
@media (max-width: 450px) {
  .col-1 {
    width: 100%;
  }
  .col-2 {
    margin-left: 0;
    padding-top: 40px;
  }
}

/* Icon CSS */
#detailsicon,
#editicon,
#deleteicon {
  text-align: center;
}
#detailsicon i,
#editicon i,
#deleteicon i {
  text-align: center;
  font-size: 18px;
}

#detailsicon i {
  color: rgb(39, 116, 218);
}
#editicon i {
  color: rgb(43, 189, 43);
}
#deleteicon i {
  color: #ec3c45ec;
}
i:hover {
  cursor: pointer;
}
@media (max-width: 740px) {
  #detailsicon,
  #editicon,
  #deleteicon {
    text-align: right;
  }
}

/*Scroll Bar CSS*/
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: #8f8c8c;
  border-radius: 10px;
  width: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: black;
}
